@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

:root{
    --primary: rgb(21, 40, 61);
    --secondary: #213b5b;
    --ternary:#4a5565;
    --font-heading: "Playfair Display", serif;
    --font-text: "Inter", sans-serif;
}

@layer utilities {
  .bg-primary {
    background-color: var(--primary);
  }

  .text-primary {
    color: var(--primary);
  }

  .text-secondary {
    color: var(--secondary);
  }

  .bg-secondary{
    background-color: var(--secondary)
  }

  .text-ternary {
    color: var(--ternary);
  }
}

@layer base {
  h1, h2 {
    font-family: var(--font-heading);
    font-optical-sizing: auto;
  }
  p {
    font-family: var(--font-text);
  }
}